.a{
  display: flex;
}

.userInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.pictureBorder{
  justify-content: center;
}

.profilePicture{
  height: 170px;
  width: 170px;
  border-radius: 100px;
  object-fit:cover;
}

.profileDetail{
  display:flex; 
  min-width: 250px;
  flex-direction: column;  
  justify-content: center;
}

.profileSettings{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 20px auto auto;
}

.buttonSettings{
  display: flex;
  text-align: center;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
}

@media (max-width:1140px) {
  .userInfo{
    justify-content: center;
  }

}

@media (max-width:1300px) {
  .profileSettings{
    flex-direction: column;
  }

}

@media (max-width:1086px) {
  .profileSettings{
    flex-direction: row;
    margin: 0;
  }

}

.profileContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.profileInfo{
  background-color: beige;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 250px;
  flex-grow: 1;
  overflow-y: auto;
  border-width: 2px;
  border-color: #FB6D3A;
  border-radius: 10px;
  min-width: 250px;
  height: 500px;
}

.profileSummary{
  background-color: beige;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 250px;
  flex-grow: 9;
  overflow-y: auto;
  border-width: 2px;
  border-color: #FB6D3A;
  border-radius: 10px;
  min-width: 250px;
  height: 500px;
}

.profileInfo::-webkit-scrollbar, .profileSummary::-webkit-scrollbar{
  width: 10px;
}

.profileInfo::-webkit-scrollbar-track, .profileSummary::-webkit-scrollbar-track{
  border: 1px solid #000;
  border-radius: 50px;
  background-color: #1d5b79;
}

.profileInfo::-webkit-scrollbar-thumb, .profileSummary::-webkit-scrollbar-thumb{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fb6d3a;
  border: 1px solid #000;
}