@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scroll-behavior: smooth;
}
body{
  font-family: "Poppins", "sans-serif";
  background-color: beige;

}
.header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
}


