@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body{
  font-family: "Poppins", "sans-serif";
  background-color: beige;

}
.header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.mainlogo1{
  height: 60px;
  margin: 10px;
  padding-top: 9px;
}
.active1 {
  background-color: rgb(0, 63, 115);
  border-radius: 15px;
  color: white;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
}
.active2 {
  font-weight:600;
  font-size: medium;
  color:  rgb(0, 58, 106);
}
a{
  text-decoration: none;
  color: black;
}
.smallmenu {
  position: fixed;
  left: 0;
  width: 30%;
  top: 0;
  height: 100%;
  border-left: solid 10px;
  border-left-color: rgb(0, 58, 106);
  background-color: rgb(255, 255, 255);
}
.smallmenu1 {
  position: fixed;
  left: -100%;
}
.smallmenu ul{
  list-style-type: none;
  padding-top: 16px;
}
.smallmenu li{
  margin-left: 20px;
  padding: 16px;
  border-bottom: solid 2px;
  border-color: rgb(246, 98, 0);
  width: 150px;
}